<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <a href=""{{ path('admin') }}">
                        <img width="200" height="200" src="{{ asset('images/logo.png') }}" />
                    </a>

                    <br /> <br />

                    <nav class="nav flex-column nav-pills">
                        <h6>Rapid Api</h6>
                        <a class="nav-link" href="{{ path('fetchCountries') }}">Fetch Countries</a>

                        <br />

                        <h6>Countries</h6>
                        <a class="nav-link" href="{{  path('addCountry') }}">Add One</a>
                        <a class="nav-link" href="{{ path('countries') }}" >List All</a>
                    </nav>

                    <div class="col-10">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
